Package: com.pookjw.kakaotalkrollbackfriends
Name: KakaoTalkRollbackFriends
Version: 1.1
Architecture: iphoneos-arm64
Description: Hello World!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: firmware (>= 16.0)
